package components

templ IdentityNotFoundError(identity string) {
	<h1 id="identity-title" class="text-lg font-semibold text-red-500">{identity} not found</h1>
}

templ ErrorTitle(message string) {
	<h1 id="error-title" class="text-lg font-semibold text-red-500">{message}</h1>
}